.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}
.img {
  width: 6rem;
  border-radius: 10%;
}
.names {
  font-weight: bold;
}
