.card {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 0px 5px 0px gray;
  width: 100%;
  gap: .5rem;
  min-width: 250px;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.card h2{
  color: rgb(26, 25, 25);
  font-size: 1rem;
}
.card h1 {
  font-size: 1.2rem;
  color: gray;
  font-weight: 500;
}
.card h3 {
  font-size: .9rem;
}
.card p {
  font-size: .8rem;
}
.cardDark {
  background-color: rgb(29, 29, 29);
  box-shadow: none;
  color: white;
}

.cardDark h1,.cardDark h2,.cardDark h3,.cardDark p {
  color: #eee;
}

